<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>名字: <%= user.name %></p>
	<p>密码: <%= user.paw %></p>
	<p>权限等级:<%= user.tocken %></p>
  </body>
</html>
