<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="http://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <!-- <script src="https://cdn.bootcss.com/fetch/2.0.3/fetch.min.js"></script> -->
  </head>
  <body>
    <h1><%= title %></h1>
    <p>名字: <%= user.name %></p>
	<p>密码: <%= user.paw %></p>
  <p>权限等级:<%= user.tocken %></p>
  <form action="http://127.0.0.1:3000/createuser" method="post">
   <input type="text" name="name" />
   <input type="text" name="paw" />
   <input type="text" name="station" />
   <input type="text" name="tocken" />
   <input type="text" name="meta" />
   <input type="submit"/>
  </form>
  <script>
    //用户数据请求
      $.ajax({
        url:"http://127.0.0.1:3000/users",
        type:"get",
        dataType:"json",
        success:function(data){
          console.log(data);
        }
      })
      $.ajax({
        url:"http://127.0.0.1:3000/login",
        type:"get",
        dataType:"json",
        data:{
          name:"nurdun",
          paw:"nurdun123456"
        },
        success:function(data){
          console.log(data);
        }
      })
      //任务请求
       $.ajax({
        url:"http://127.0.0.1:3000/tasks",
        type:"get",
        dataType:"json",
        success:function(data){
          console.log(data);
        }
      })
       //任务请求
       $.ajax({
        url:"http://127.0.0.1:3000/taskdetail",
        type:"get",
        dataType:"json",
        data:{
          "task_id":"5991667d776a6f27f4ba579c"
        },
        success:function(data){
          console.log(data);
        }
      })
      //日报请求
       $.ajax({
        url:"http://127.0.0.1:3000/reports",
        type:"get",
        dataType:"json",
        data:{
          "reportBelongId":"598eafa9178ab1abe832e841"
        },
        success:function(data){
          console.log(data);
        }
      })
      $.ajax({
        url:"http://127.0.0.1:3000/reportdetail",
        type:"get",
        dataType:"json",
        data:{
          "report_id":"599190c8776a6f27f4ba579d"
        },
        success:function(data){
          console.log(data);
        }
      })
      //考核结果请求
       $.ajax({
        url:"http://127.0.0.1:3000/result",
        type:"get",
        dataType:"json",
        data:{
          "userId":"598eafa9178ab1abe832e841",
          "taskId":"5991667d776a6f27f4ba579c"
        },
        success:function(data){
          console.log(data);
        }
      })
      // //考核结果请求
      //  $.ajax({
      //   url:"http://127.0.0.1:3000/testResultapi",
      //   type:"get",
      //   dataType:"json",
      //   success:function(data){
      //     console.log(data);
      //   }
      // })
      //任务类型请求
       $.ajax({
        url:"http://127.0.0.1:3000/tasktype",
        type:"get",
        dataType:"json",
        data:{"taskId":"5991667d776a6f27f4ba579c"},
        success:function(data){
          console.log(data);
        }
      })
       //任务状态请求
       $.ajax({
        url:"http://127.0.0.1:3000/taskstate",
        type:"get",
        dataType:"json",
        success:function(data){
          console.log(data);
        }
      })

      fetch("http://127.0.0.1:3000/taskstate",{
        method:"get",
        data:{"taskId":"5991667d776a6f27f4ba579c"}
      }).then(response=>response.json())
        .then(data=>{
          console.log(data);
        })

        //岗位数据接口
        fetch("http://127.0.0.1:3000/stations",{
          method:"get"
        }).then(res=>res.json())
          .then(data=>{
            alert(data);
            console.log(data);
          })
  </script>
  </body>
</html>
